 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
     rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>web Application</title>
 </head>
 <body  >
    <nav class="navbar navbar-expand-lg bg-body-tertiary"  >
  <div class="container-fluid"  style="background-color: rgb(95, 95, 87);">
    <a class="navbar-brand" href="#">Our Course</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
<br>
<br>
<br>
<form class="row g-3" style="background-color: beige;">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label" style="font-family: 'Times New Roman', Times, serif;">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label"style="font-family: 'Times New Roman', Times, serif;">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label"style="font-family: 'Times New Roman', Times, serif;">Address</label>
    <input type="text" class="form-control" id="inputAddress" >
  </div>
  
  <div class="col-md-6">
    <label for="inputCity" class="form-label"style="font-family: 'Times New Roman', Times, serif;">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
   
   <ul class="list-group">
  <li class="list-group-item">
    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio" checked>
     
    <label class="form-check-label" for="firstRadio">Male</label>
  </li>
  <br>
  <li class="list-group-item">
    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
    <label class="form-check-label" for="secondRadio">FeMale</label>
  </li>
  
</ul>
  
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
       OK
      </label>
    </div>
  </div>
   <br>
  
</form>
<br>
 
 
    <div class="container" style="background-color: rgb(163, 165, 129);" >
      
    {{{body}}}
    </div>
    <br>
  
 
    <div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card" style="background-color: rgb(211, 204, 102);">
      <div class="card-body">
        <h5 class="card-title">Special materials</h5>
        <p class="card-text">With supporting text below as a 
          <br>natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary"style="background-color: rgb(8, 8, 8);" >Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6"  >
    <div class="card" style="background-color:  rgb(211, 204, 102);">
      <div class="card-body">
        <h5 class="card-title">Special Time   and Date</h5>
        <p class="card-text">With supporting text below as a <br>natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary" style="background-color: rgb(8, 8, 8);">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<br>
  <br>
  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
    This paragraph
contains a lot of lines
in the source code,
but the browser
ignores it<br>
This paragraphcontains <br>a lot of spaces
in the source code,
but the  browser
ignores it</p>
 
<input class="btn btn-primary" type="submit" value="Submit"  style="background-color: darkolivegreen;">
<input class="btn btn-primary" type="reset" value="Reset" style="background-color: darkolivegreen;">

 </body>
 </html>