 
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Students Id && Names</h1>
 {{name}}
 <div>
    {{#each students}}
    {{_id}}--------->{{name}}

    <br>
    {{/each}}
 </div>